.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
}

.properties-list {
  margin-bottom: 30px;
  list-style: none;
}

.description-text {
  margin-bottom: 30px;
}

.characters-list {
  list-style: none;
}
